---
import '../styles.css';
---

<html lang="de">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Lean Stack</title>
	</head>
	<body>
    <div>
        <h1>Lean Stack</h1>
    </div>
	</body>
</html>
