---
import { CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../layouts/base-layout.astro";

export async function getStaticPaths() {
  const resourcesEntries = await getCollection("resources");
  return resourcesEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
interface Props {
  entry: CollectionEntry<"resources">;
}
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout>
  <div class="max-w-3xl mx-auto">
    <div
      class="prose dark:prose-invert prose-slate max-w-none prose-headings:font-semibold"
    >
      <h1>{entry.data.title}</h1>
      <Content />
    </div>
  </div>
</BaseLayout>
