---
import { MoonIcon, SunIcon } from "@heroicons/react/24/outline";
---

<button
  data-darkmode-toggle
  aria-label="Dunkelmodus ein/aus"
  class="flex p-2 rounded bg-slate-200 dark:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500"
>
  <SunIcon className="h-5 w-5 dark:hidden" />
  <MoonIcon className="h-5 w-5 hidden dark:inline" />
</button>

<script>
  document
    .querySelector("[data-darkmode-toggle]")
    ?.addEventListener("click", () => {
      const wasDark = document.documentElement.classList.contains("dark");
      document.documentElement.classList.toggle("dark");
      localStorage.setItem("theme", wasDark ? "light" : "dark");
    });
</script>
