---
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>lean-stack.rocks</title>
  </head>
  <body
    class="bg-slate-50 dark:bg-slate-900 text-emerald-900 dark:text-emerald-50"
  >
    <slot />
  </body>
</html>
